<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

    <title>Document</title>
</head>
<body class="info-page">
    <div class="infoPage-container">
        <nav>
            <a href="/"><img src="/img/logo1.png" class="logo"></a>
            <ul>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>

        
        <h1 class="title1">The</h1>
        <h1 class="title2">Drop</h1>
        <h2 class="text"><%= thePhotographer.name %> Info Page</h2>
    </div>


  



    <div class="hero-info2">
        <div class="text-box2">
            <img class="select-pic" src="<%= thePhotographer.picture %>">
            <section class="articlename"><h2><%= thePhotographer.name %></h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio temporibus in corrupti voluptatem dolores placeat consequuntur, quaerat dolor ex ipsam laboriosam? Magnam necessitatibus minima corporis architecto nisi tempora eaque ipsa nesciunt laborum dolore dolor, consequuntur tempore neque. Labore atque perferendis tempore laudantium totam quo, animi natus soluta fuga architecto, unde quis eveniet id. Quod quaerat repellat ratione quas perspiciatis asperiores aliquam quidem eius, laudantium temporibus commodi dolorum, obcaecati tempore distinctio non. Ut voluptate nam assumenda, laboriosam magnam atque sunt facere.
                <br>
                <a class='row2' href="/booking/<%= thePhotographer._id %>/new">Book Consult</a>
            </section>
            
        </div>
    </div>

    
    

    <div class="container02">
          
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/img/fash1.jpg" alt="" style="width:100%;">
            </div>
      
            <div class="item">
              <img src="/img/fash7.jpg" alt="" style="width:100%;">
            </div>
          
            <div class="item">
              <img src="/img/landing2.jpg" alt="" style="width:100%;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      



</body>
</html>