<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class='events'>
    <div>
        <nav>
            <a href="/"><img src="/img/logo1.png" class="logo"></a>
            <ul>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
    </div>



    <h1>Choose an Event</h1>

    <a href="/photographer/select/Weddings">Weddings</a>
    <a href="/photographer/select/Birthdays">Birthdays</a>
    <a href="/photographer/select/Maternity">Maternity</a>
    <a href="/photographer/select/Newborn">NewBorn</a>
    <a href="/photographer/select/Portraits">Portraits</a>
    <a href="/photographer/select/Fashion">Fashion</a>

    
    
</body>
</html>