<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class='events'>
    
    <div class="events-container">
        <nav>
            <a href="/"><img src="/img/logo1.png" class="logo"></a>
            <ul>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>

        
        <h1 class="title1">The</h1>
        <h1 class="title2">Drop</h1>
        <h2 class="text">Choose An Event</h2>
    </div>



    <div class="hero">
        <div class="pic1">
            <div class="overlay1"></div>
            <a id="text1" class="content" href="/photographer/select/Weddings">Weddings</a>
        </div>
    
        <div class="pic2">
            <div class="overlay2"></div>
            <a class="content" href="/photographer/select/Birthdays">Birthdays</a>
        </div>
    
        <div class="pic3">
            <div class="overlay3"></div>
            <a class="content" href="/photographer/select/Maternity">Maternity</a>
        </div>
    
        
        <div class="pic4">
            <div class="overlay4"></div>
            <a class="content" href="/photographer/select/Newborn">NewBorn</a>
        </div>
    
        <div class="pic5">
            <div class="overlay5"></div>
            <a class="content" href="/photographer/select/Portraits">Portraits</a>
        </div>
    
        <div class="pic6">
            <div class="overlay6"></div>
            <a class="content" href="/photographer/select/Fashion">Fashion</a>
        </div>
    </div>

    
    
    
    







    


    
    
</body>
</html>