<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Landing Page</a></li>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
    </header>



    <h1>Choose an Event</h1>

    <a href="/photographer/select/Weddings">Weddings</a>
    <a href="/photographer/select/Birthdays">Birthdays</a>
    <a href="/photographer/select/Maternity">Maternity</a>
    <a href="/photographer/select/Newborn">NewBorn</a>
    <a href="/photographer/select/Portraits">Portraits</a>
    <a href="/photographer/select/Graduation">Graduation</a>

    
    
</body>
</html>