<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Landing Page</a></li>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
    </header>
    


    
    
    <h1>All Photographers(Seed Data to populate?)</h1>


    <% for(let i = 0; i < allPhotographers.length; i++) { %>
        <a href="/photographer/info/<%=allPhotographers[i].name%>">
           <h1><%= allPhotographers[i].name %></h1>
           <img src="<%= allPhotographers[i].picture %>" >
            <%= allPhotographers[i].specialities %>
        </a>
        
        <% } %> 
    




</body>
</html>