<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class="landing">
   

    <div class="landing-container">
        <nav>
            <a href="/"><img src="img/logo1.png" class="logo"></a>
            <ul>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
        <div class="text-box">
            <p>WELCOME TO</p>
            <h1>THE DROP</h1>
            <h3>I HELP PEOPLE FIND BLACK OWNED PHOTOGRAPHERS</h3>

            <div class="row">
                <a href="/photographer/events">Lets Get Started</a>
                <a href="/photographer/all-photographers">See All Photographers</a>
            </div>

            
            
        </div>
        
        <div class="social-icons">
            <a href="https://www.instagram.com/"><img src="img/instagram.png" alt=""></a>
            <a href=""><img src="img/dribble.png" alt=""></a>
            <a href=""><img src="img/telegram.png" alt=""></a>
        </div>




    </div>


    







</body>
</html>