@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');;

/* -----------LANDING PAGE && NAV BAR----------- */

body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One'; 
}

.landing-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url(img/landing3.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;;
    font-family: 'Krona One';

}

.logo {
    width: 250px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}

 .text-box p {
    font-size: 50px;
    font-weight: 600;
}

.text-box h1 {
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box h2 {
    font-size: 40px;
    font-weight: 500; 
} 

.text-box .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}

.social-icons {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social-icons img {
    width: 25px;
    display: block;
    margin: 25px  5px;
}

/* ----------CHOOSE EVENT PAGE------------*/

.events-container {
    background-image: url("img/header1.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.9) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(0,0,0,0.9) 100%);
    
  }

  .title1 {
    color: white;
    font-size: 2rem;
    letter-spacing: 50px;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Krona One'
  }


.title2 {
    color: white;
    font-size: 2rem;
    letter-spacing: 50px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: 'Krona One'
}


.text {
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat'
}

.content {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Krona One';
    color: #fff;
    position: absolute;
    z-index: 3;
}

.pic1 {
    background-image: url(img/wedding4.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.overlay1{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #60A699;
    z-index: 2;
    transition-duration: 0.5s;
}

 .pic1:hover .overlay1 {
    display: none;
    opacity: none;
    background-color: none;
    z-index: 2;
    transition-duration: 0.5s;
}


.pic2 {
    background-image: url(img/bday1.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.overlay2{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #734319;
    z-index: 2;
}

.pic2:hover .overlay2 {
    display: none;
    opacity: none;
    background-color: none;
    z-index: 2;
}


.pic3 {
    background-image: url(img/preg2.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay3{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #D9C7B8;
    z-index: 2;
}

.pic3:hover .overlay3 {
    display: none;
    opacity: none;
    background-color: none;
    z-index: 2;
}


.pic4 {
    background-image: url(img/newborn2.jpeg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.overlay4{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #8C3A27;
    z-index: 2;
}

.pic4:hover .overlay4 {
    display: none;
    opacity: none;
    background-color: none;
    z-index: 2;
}


.pic5 {
    background-image: url(img/port7.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.overlay5{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #CC8E21;
    z-index: 2;
}

.pic5:hover .overlay5 {
    display: none;
   opacity: none;
   background-color: none;
   z-index: 2;
}


.pic6 {
    background-image: url(img/fash8.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.overlay6{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color: #897870;
    z-index: 2;
}

.pic6:hover .overlay6 {
    display: none;
    opacity: none;
    background-color: none;
   z-index: 2;
}


.hero {
    display: grid;
    grid-template-columns: auto auto;
}





/* -------------SELECT PHOTOGRAPHER PAGE--------------- */

.select-container {
    background-image: url("img/landing02.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center; 
}
  
.hero-select {
    display: grid;
    grid-template-columns: auto auto;
    display: inline-block;
    background-color: #8C5E54;
    font-family: 'Krona One';
}

  
.select-pic{
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
}
    
.select-pic,
.articlename {
    display:inline-block;
    width:50%;
    vertical-align:middle;
}


.select-pic {
    height:auto;
}
    

.articlename {
    color:#fff;
    text-align: center;
    margin: 0px 70px;
}
    
.test:nth-child(odd) {
    background-color: #BF988F;
}



/* -----------PHOTOGRAPHER INFO PAGE--------------- */


.infoPage-container {
    background-image: url("img/landing03.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center; 
}
      
.hero-info2 {
    display: grid;
    grid-template-columns: auto auto;
    display: inline-block;
    background-color: #102613;
    font-family: 'Krona One';
}


.select-pic{
    background-position: center;
    background-size: cover;
    width: auto;
    height: 500px;
}

.row2 {
    text-decoration: none;
    color: #fff;
    /* background-color: #fff; */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 13px 2px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
}

.row2:hover {
    background-color: #fff;
    color: black;
}

.container02 {
    background-color: #BF9A84;
}



/* ---------BOOK CONSULT PAGE---------- */

.new-container {
    width: 100%;
    height: 100%;
    background-image: url("img/port6.jpg");
    background-size: cover;
    background-position: center; 
}

.new{
    margin: 0;
    padding: 0;
    font-family: 'Krona One';
    box-sizing: border-box;
}


 .hero-new {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 90%;
    max-width: 600px;
   
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Krona One';
}
    

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-new .input-group {
    flex-basis: 46%;
}



/* -------------SHOW PAGE(Confirmation Page)------------ */

.show-container {
    width: 100%;
    height: 700px;
    background-image: url("img/landing1.jpg");
    background-size: cover;
    background-position: center; 
    
}

.show {
    background-color: #0D0D0D;
    color: #fff;
}

.show-text {
    text-align: center;
    font-family: 'Krona One';
}

/* -----------All Photographers Page----------- */

.all-container {
    width: 100%;
    height: 700px;
    background-image: url("img/header03.jpg");
    background-size: cover;
    background-position: center; 
    
}


/* CAROUSEL FOR PHOTOGRAPHER INFO PAGE */

