<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Landing Page</a></li>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
    </header>



     <h1>Book a Consult with <%= thePhotographer.name %> </h1>



     <form action="/booking" method="POST">
        <input type="text" name="photographer" value="<%= thePhotographer._id %>" hidden>
        <div>
            <input name="name" type="text">
            <label for="name">Name:</label>
        </div>
        <div>
            <input name="phone" type="text">
            <label for="phone">Phone:</label>
        </div>
        <div>
            <input name="email" type="text">
            <label for="email">Email:</label>
        </div>
        <div>
            <textarea name="visionSummary" id="" cols="30" rows="10"></textarea>
            <label for="visionSummary">Vision Summary:</label>
        </div>
        <input type="submit" value="Book Appointment">
        
    </form>














</body>
</html>